.btn-comentario {
	padding: 5px;
	margin: 10px 10px 10px 0;
}
.comentario {
	padding: 10px;
	font-size: 16px;
	border-top: 1px solid #a1b1b4;
	margin: 5px 0;
}
.comentarios {
	display: none;
}
.contenido-comentario p {
	background-color: #e0e0e0;
	border-radius: 5px;
	display: inline-block;
	padding: 5px;
	margin: 5px
}
.publicacion {
	margin: 20px auto;
	max-width: 600px;
	border: 2px solid #a1b1b4;
	border-radius: 10px;
}
.publicacion .card-header {
	background-color: #341f97;
	color: #fff;
}
.publicacion .card-body {
	margin: 0;
	font-size: 20px;
}
.publicacion .card-footer {
	border: 1px solid #808080;
}
#publicar {
	border: 2px solid #a1b1b4;
	width: 100%;
}

.agregarComentario {
    display: flex;
    justify-content: center;
    align-items: center;
}
.txtComentario {
   padding: 5px;
   margin: 10px;
   width: 80%;
}
.cuenta-comentarios:hover,
.like:hover,
.who-likes:hover,
.verComentarios:hover  {
    text-decoration: none;
}
.verComentarios {
   display: inline-block;
   margin-top: 10px;
}